@section Title { Flashmessages }

<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-file"></i>
                <h3>Content</h3>
            </div>
            <div class="widget-content">
                <p>A blind man once stepped on Chuck Norris' shoe. Chuck replied, "Don't you know who I am? I'm Chuck Norris!" The mere mention of his name cured this man blindness. Sadly the first, last, and only thing this man ever saw, was a fatal roundhouse delivered by Chuck Norris. A duck’s quack does not echo. Chuck Norris is solely responsible for this phenomenon.</p>
                <blockquote>
                    <p>Chuck Norris always has sex on the first date. Always.</p>
                    <small><cite title="Chuck Norris Ipsum"><a href="http://chuckipsum.com/">Chuck Norris Ipsum</a></cite></small>
                </blockquote>
                <p>Chuck Norris doesn't worry about changing his clock twice a year for daylight savings time. The sun rises and sets when Chuck tells it to. God offered Chuck Norris the gift to fly, which he swiftly declined for super strength roundhouse ability. There is no such thing as tornados.</p>
                <p>If you want a list of Chuck Norris’ enemies, just check the extinct species list. Chuck Norris always has sex on the first date. Always. Chuck Norris ordered a Big Mac at Burger King, and got one. Chuck Norris never cries, because of this when he's sad he roundhouse kicks himself and it makes him feel better since he knows he is the only one who can survive the roundhouse.</p> 
            </div>
        </div>
    </div>

    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bolt"></i>
                <h3>Client side flash messages</h3>
            </div>
            <div class="widget-content">
                <div class="shortcuts holdsFloatingElements">
                    <a href="javascript:;" onclick="AddFlashMessage('Success', 'This is a client side success message', 'success');" class="shortcut">
                        <i class="shortcut-icon icon-ok-sign"></i>
                        <span class="shortcut-label">Success</span>
                    </a>
                    <a href="javascript:;" onclick="AddFlashMessage('Info', 'This is a client side info message', 'info');" class="shortcut">
                        <i class="shortcut-icon icon-info-sign"></i>
                        <span class="shortcut-label">Info</span>
                    </a>
                    <a href="javascript:;" onclick="AddFlashMessage('Warning','This is a client side warning message', 'warning');" class="shortcut">
                        <i class="shortcut-icon icon-warning-sign"></i>
                        <span class="shortcut-label">Warning</span>
                    </a>
                    <a href="javascript:;" onclick="AddFlashMessage('Error', 'This is a client side error message', 'error');" class="shortcut">
                        <i class="shortcut-icon icon-remove-sign"></i>
                        <span class="shortcut-label">Error</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>