<?xml version="1.0"?>
<appSettings>

  <!-- Environment-->
  <add key="Environment" value="DEV" />
  <add key="ApplicationVersion" value="1.337" />
  <add key="DefaultCulture" value="en-US"/>
  <add key="AcceptedCultures" value="en-US, nl-NL"/>

  <!-- Connection Strings-->
  <add key="ConnectionString" value="Server=127.0.0.1;Port=5432;Database=SkaeleArchitecture;User Id=yourUsername;Password=yourPassword;" />

  <!-- Login -->
  <add key="MaxLoginAttempts" value="3" />
  <add key="CoolOffPeriod" value="4" />
  <add key="ExpirationPeriodNewPasswordrequest" value="15"/>
  <add key="PasswordPolicy" value=".{5,}$"/>

  <!-- Windows services-->
  <add key="WindowsServiceMailSenderName" value="SkaeleArchitecture.MailSender"/>

  <!-- Smtp -->
  <add key="SmtpHost" value="localhost"/>
  <add key="SmtpPort" value="25"/>
  <add key="SmtpUsername" value=""/>
  <add key="SmtpPassword" value=""/>
  <add key="SmtpSslEnabled" value="false"/>

</appSettings>