<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" internalLogToConsole="true">
  <!-- Make sure throwExceptions and internalLogToConsole are set to false in production environments. We don't want halt the application when logging is not working -->
  <targets>
    <target name="logfile" xsi:type="File"
        fileName="c:\temp\Log\skaele.log"
        archiveFileName="c:\temp\Log\skaele.{#}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2"
        header="true">
      <layout xsi:type="SimpleLayout">
        <text>${event-context:item=uniqueIdentifier}|${longdate}|${level}|${event-context:item=environment}|${logger}|${message}|${event-context:item=details}|${event-context:item=username}|${event-context:item=requestMethod}|${event-context:item=requestUrl}|${event-context:item=urlReferrer}|${event-context:item=clientBrowser}|${event-context:item=ipAddress}|${event-context:item=postedFormValues}|${stacktrace}|${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}</text>
      </layout>
    </target>

    <target
      xsi:type="ColoredConsole"
      name="console">
      <layout xsi:type="SimpleLayout">
        <text>${level} ${logger}${newline}${message} ${event-context:item=details}${newline}${stacktrace}${whenEmpty:whenEmpty=:inner=${newline}${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}}</text>
      </layout>
    </target>

    <target name="mailBuffer" xsi:type="BufferingWrapper"
          slidingTimeout="true"
          bufferSize="100"
          flushTimeout="10000">
      <target
        xsi:type="Mail"
        name="mail"
        to="your@emailaddress.com"
        addNewLines="true"
        from="watchdog@skaelearchitecture.nl"
        subject="[${event-context:item=environment}] [${level}] ${message}"
        smtpServer="localhost"
        smtpUsername=""
        smtpPassword=""
        smtpPort="25"
        smtpAuthentication="None">
        <layout xsi:type="SimpleLayout">
          <text>
            The following log message(s) were received:

            Unique index: ${event-context:item=uniqueIdentifier}
            Logdate: ${longdate}
            Level: ${level}
            Environment: ${event-context:item=environment}
            Source: ${logger}
            Message: ${message}
            Details: ${event-context:item=details}
            User: ${event-context:item=username}
            RequestMethod: ${event-context:item=requestMethod}
            RequestUrl: ${event-context:item=requestUrl}
            Url referrer: ${event-context:item=urlReferrer}
            Browser: ${event-context:item=clientBrowser}
            IP address: ${event-context:item=ipAddress}

            Posted form values:
            ${event-context:item=postedFormValues}

            Stacktrace:
            ${stacktrace}

            Exception:
            ${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}
            --------------------------------------------------------------------------------------
          </text>
        </layout>
      </target>
    </target>

    <target
      name="database"
      xsi:type="Database"
      connectionString="Server=127.0.0.1;Port=5432;Database=SkaeleArchitecture;User Id=yourUsername;Password=yourPassword;"
      keepConnection="false"
      useTransactions="true"
      dbProvider="Npgsql.NpgsqlConnection,Npgsql,Version=2.0.13.91,Culture=neutral,PublicKeyToken=5d8b90d52f46fda7">
      <commandText>
        INSERT INTO Log
        (
        Id,
        Created,
        Level,
        Environment,
        Source,
        Message,
        Details,
        Username,
        RequestMethod,
        RequestUrl,
        UrlReferrer,
        ClientBrowser,
        IpAddress,
        PostedFormValues,
        StackTrace,
        Exception
        )
        VALUES
        (
        @uniqueIdentifier,
        @created,
        @level,
        @environment,
        @source,
        @message,
        @details,
        @username,
        @requestMethod,
        @requestUrl,
        @urlReferrer,
        @clientBrowser,
        @ipAddress,
        @postedFormValues,
        @stackTrace,
        @exception
        );
      </commandText>
      <parameter name="@uniqueIdentifier" layout="${event-context:item=uniqueIdentifier}"/>
      <parameter name="@created" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} "/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@environment" layout="${event-context:item=environment}"/>
      <parameter name="@source" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@details" layout="${event-context:item=details}"/>
      <parameter name="@username" layout="${event-context:item=username}"/>
      <parameter name="@requestMethod" layout="${event-context:item=requestMethod}"/>
      <parameter name="@requestUrl" layout="${event-context:item=requestUrl}"/>
      <parameter name="@urlReferrer" layout="${event-context:item=urlReferrer}"/>
      <parameter name="@clientBrowser" layout="${event-context:item=clientBrowser}"/>
      <parameter name="@ipAddress" layout="${event-context:item=ipAddress}"/>
      <parameter name="@postedFormValues" layout="${event-context:item=postedFormValues}"/>
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <parameter name="@exception" layout="${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=->:separator=, :format=Message, Type, ShortType, ToString, Method, StackTrace}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="mailBuffer" />
    <logger name="*" minlevel="Debug" writeTo="database" />
  </rules>
</nlog>