body {
    padding-top:70px;
}
.footer {
    margin-bottom: 10px;
}
.field-validation-error {
    color:#b94a48;
    display: block;
}
.input-validation-error {
    background-color:#f2dede!important;
}
.navbar-inverse .navbar-brand:hover {
    color: #999;
}
.jumbotron {
    display: none;
}
@media (min-width: 768px) {
    .jumbotron {
        display: inherit;
    }
}
@media (min-width: 992px) {
    .jumbotron {
        display: inherit;
        background-image: url(/Public/Images/chuck.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}
.jumbotron-error {
    display:inherit;
}
.panel-heading i {
    margin-right: 5px;
}
.shortcut { 
    display: block;
    float:left;
	width:80px;
    height:80px;
	text-align: center;	
	text-decoration: none;
    border: 1px solid #fff;
	border-radius: 5px;
    margin: 0 10px 10px 0;
    vertical-align: middle;
}
    .shortcut:hover {
        text-decoration: none;
    }
    .shortcut i {
        font-size: 24px;
        margin-top:20px;
        display:block;
    }
    .shortcut span {
        display:block;
        line-height: 20px;
    }
.ajaxFormOverlay {
    background: no-repeat scroll 50% 50% #AAA;
    opacity:0.3;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}
.ajaxLoader {
    left:50%;
    position:absolute;
    top: 50%;
}
