.ui-jqgrid tr.jqgrow td {
    height:36px;
}
.jqgridAlternateRow {
    background: none;
    background-color: #f5f5f5;
}
.ui-search-input input {
    line-height: 22px;
}
.ui-search-input select {
    height: 25px;
}
.ui-search-input {
    padding: 5px;
}
.ui-th-column {
    height: 30px !important;
    font-weight: bold !important;
}
