<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-user"></i>@T.Users
            </div>
            <div class="panel-body" style="">
                <div class="media col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img class="media-object" src="http://www.gravatar.com/avatar/{{GravatarHash}}?s=60" alt="" />
                    <div class="media-body">
                        <h4 class="media-heading">{{DisplayName}}</h4>
                        {{Roles}} | {{Email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

