@section Title { Users }

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="icon-user"></i>@T.Users
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-search"></i></span>
                    <input type="text" class="form-control"/>
                </div>
                <div style="margin-top:15px;" id="gridContainer"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="gridCellLayout">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://www.gravatar.com/avatar/{{GravatarHash}}?s=60" alt="" />
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{DisplayName}}</h4>
            {{Roles}} | {{Email}}
        </div>
    </div>
</script>

<script type="text/javascript">
    
    var options = {
        urls: {
            GetUsers: '@Url.Action("GetUsers")'
        },
        templates: {
            GridCellLayout: $('#gridCellLayout').html()
        }
    };

    var usersController = new UsersController(new UsersRemoteModel(), options);
</script>

