<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Magnum" version="2.1.0" targetFramework="net45" />
  <package id="MassTransit" version="2.8.0" targetFramework="net45" />
  <package id="MassTransit.Autofac" version="2.8.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net45" />
  <package id="NHibernateProfiler" version="2.0.2206.0" targetFramework="net45" />
  <package id="Npgsql" version="2.0.13-beta1" targetFramework="net45" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net45" />
  <package id="RazorMailMessage" version="0.1" targetFramework="net45" />
  <package id="Topshelf" version="3.1.1" targetFramework="net45" />
  <package id="WebActivator" version="1.4.4" targetFramework="net45" />
</packages>